/*
Description: One page app landing HTML 5 CSS 3 template powered by Bootstrap 3.
Version: 1.14.11
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.txt
Tags: green, white, responsive-layout, one page, full-width-template
*/

/**
* Table of Contents:
*
* 01.0 - Custom Fonts
* 02.0 - Global
* 03.0 - Side Menu
* 04.0 - Preloader
* 05.0 - Header
* 06.0 - Banner
* 07.0 - Features
* 08.0 - Gallery
* 09.0 - Team Member
* 10.0 - Testimonial
* 11.0 - Subscribe
* 12.0 - Contact us
* 13.0 - Footer
* 14.0 - Responsive Fixes
* -----------------------------------------------------------------------------
*/


/* ///////////////////////////////////////////////////////////////////// 
//  01 - Custom Fonts 
/////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'caviar_dreams';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ostrich';
    src: url('../fonts/ostrich-bold-webfont.eot');
    src: url('../fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-bold-webfont.woff') format('woff'),
         url('../fonts/ostrich-bold-webfont.ttf') format('truetype'),
         url('../fonts/ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ///////////////////////////////////////////////////////////////////// 
//  02 - Global 
/////////////////////////////////////////////////////////////////////*/


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #222;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
p, a, li{
    font-family: 'Oxygen', sans-serif;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    position: relative;
    padding: .5em;
    margin: -.5em;
}
 
.logo a:hover { 
    color: #28166f;
    text-decoration: none;
}



.img_res{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}

.img_ceo{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 2px solid #afc0d1;
}
.block-title {
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.8em;
    padding: 0 40px;
    margin: 0;
    line-height: 1.6;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.block {
    padding: 80px 0px 50px 0px;
    overflow: hidden;
}
.title-box{
    text-align: center;
    margin-bottom: 50px;
}
.bb-top-left {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
span.bb-bottom-left {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
span.bb-top-right {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
span.bb-bottom-right {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.polo-btn {
    display: block;
    color: #fff;
    border: 1px solid;
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    padding: 15px 0px;
    margin: 0px 0px 20px 0px;
    transition: 0.4s ease all;
}


/* ///////////////////////////////////////////////////////////////////// 
//  03 - Side Menu
/////////////////////////////////////////////////////////////////////*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 260px;
    height: 100%;
    margin-right: -260px;
    overflow-y: auto;
    background:#023574;
    z-index: 99999999;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.27);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 15px 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color:white;
    background-color: #008cb6;
}

@media screen and (max-width: 699px) and (min-width: 320px) {
    .container .row .logo {
        font-size: 18px;
        left: 50px;
    }
    section#test{
        position: absolute;
        width: 100%;
        height: 1050px;
        background-color: black;
        opacity: 0.65;
    }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 260px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
.close-btn {
    display: block;
    color: #FFFFFF;
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    padding-right: 25px;
}
.close-btn:hover {
    color: #84FFB0;
}




/* ///////////////////////////////////////////////////////////////////// 
//  04 - Preloader
/////////////////////////////////////////////////////////////////////*/

#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 99999999999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #fff url('../img/preloader.gif') 
    no-repeat center center; 
}

/* ///////////////////////////////////////////////////////////////////// 
//  05 - Header
/////////////////////////////////////////////////////////////////////*/

.sticky{
    position: fixed;
    width: 100%;
    background: white;
    padding: 0;
    /* min-height: 115px; */
    transition: all 0.5s;
    z-index: 99999;
    border-bottom: 5px solid midnightblue;
    box-shadow: -8px -9px 20px 9px;
}
.fixed {
    position: fixed;
    top:0; 
    left:0;
    /* min-height: 115px; */
    width: 100%; 
    background-color: white;
    padding: 0px;
}
.logo {
    font-family: 'Ultra', sans-serif;
    color: orange;
    font-size: 2.3em;
    top: 15px;
}
.container .container-list li{
    padding: 10px;
    list-style-type: none;
    width: 200px;
    height: 40px;
    /* padding-left: 5px; */
    margin-left: 5px;
    animation-duration: 2s;
}
.list{
    list-style-type: none;
    margin-top: 20px;
}

.list li {
    display: inline-block;
    padding: 10px;
}

.list li :hover{
    color: white;
    background-color: #29166f;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: limegreen;
}

.list li a{
    text-decoration: none
}
.container .container-list li:hover{
    border-left:  3px solid orange;
    color: white;
    cursor: pointer;
    
}
.container .container-list li a{
    text-decoration: none;

}
#logo_menu {
    padding: 5px 0px;
}
#menu-toggle {
    z-index: 1;
    font-size: 35px;
    float: right;
    border: 1px solid #366eb4;
    color: #356db4;
    margin: 20px 0px;
    padding: 2px 10px;
    line-height: 0;
}
.store-btn-container {
    padding-top: 15px;
}
.store-btn:hover,#menu-toggle:hover {
    background: #afc0d1;
    border-color: #00ceb8;
    color: #fff;
}

/* ///////////////////////////////////////////////////////////////////// 
//  06 - Banner
/////////////////////////////////////////////////////////////////////*/

#banner {
    background: url(../img/Images/c2.jpg);
    background-size: cover;
    padding-top: 80px;
    min-height: 673px;
    background-attachment: fixed;
    position: relative;
}

.jumbotron{
    background-color: transparent;
    color: white
}

.headings {
    padding: 25% 0 30% 0;
    color: #fff;
}
.headings h1 {
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
}
.headings p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}
.hand-container {
    max-height: 630px;
    overflow: hidden;
}
.iphone-hand {
    padding: 20px 30px 0px 30px;
}
.store:hover{
    background: #00ceb8;
    border-color: #00ceb8;
    color: #fff; 
}
.polo-btn i {
    padding-right: 6px;
}
.slidedown {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 99;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////// 
//  07 - Features
/////////////////////////////////////////////////////////////////////*/
#jssor_1{
    display: block
}

.feature-box-line{
    box-shadow:  0px 0px 10px 0px white;
    padding: 20px 0px;
    text-align: center;
    max-width: 260px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    min-height: auto;
    background-color: #29156e;
    margin-top: 20px;
}

/* #fecb00 */
.feature-box-line a{
    text-decoration-style: none;
    color: white;
    font-weight: 700;
}

.feature-box-line h2 {
    margin: 0;
    padding: 20px 0px;
    font-weight: 300;
}
.feature-box {
    box-shadow: 0px 5px 9px;
    padding: 30px 0px;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    min-height: 336px;
    margin-top: 20px;
}
.feature-box i {
    font-size: 7em;
    line-height: 0 !important;
    margin: 0;
    padding: 0;
}
.feature-box p {
    padding: 0px 20px;
}
.feature-box h2 {
    margin: 0;
    padding: 20px 0px;
    font-weight: 500;
}
.feature-box a{
    background-color: #29156e;
    color: white;
    margin-top: 10px;
}

.feature-box a:hover{
    background-color: rgb(131, 195, 38)
}


/* ///////////////////////////////////////////////////////////////////// 
//  08 - Gallery
/////////////////////////////////////////////////////////////////////*/


#gallery{
    background: url(../img/Images/c3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%);
}

#screenshots .item{
  padding: 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
/* use styles below to disable ugly selection */
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.gallery-nav {
    color: #6ecba9;
    font-size: 2em;
    margin: 0 1em;
    padding: 10px 19px;
    line-height: 0;
    border: 1px solid #6ecba9;
    border-radius: 50%;
}

.gallery-nav:hover,.gallery-nav:focus,.gallery-nav:active {
    color: #fff;
    background:#6ecba9;
}



/* ///////////////////////////////////////////////////////////////////// 
//  09 - Team Member
/////////////////////////////////////////////////////////////////////*/


.team-social {
    margin: 0;
    padding: 8px 0px;
    list-style: none;
    text-align: center;
}
.team-social li {
    display: inline-block;
    font-size: 24px;
    padding: 0px 3px;
    color: #fff;
}
.team-social li a {
    display: inline-block;
}
.team-member {
    text-align: center;
    margin-bottom: 40px;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.team-member p {
    padding: 10px 10px 15px 10px;
}
.team-member h2 {
    font-size: 25px;
}
.team-social li a i {
    border: 1px solid;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 1.6;
    border-radius: 50%;
    transition: 0.5s ease all;
}
.facebook a i {
    color: #3B5998;
    border-color: #3B5998;
}
.facebook a i:hover {
    color: #fff;
    background-color: #3B5998;
}
.linkedin a i {
    color: #007bb6;
    border-color: #007bb6;
}
.linkedin a i:hover {
    color: #fff;
    background-color: #007bb6;
}



/* ///////////////////////////////////////////////////////////////////// 
//  10 - Testimonial
/////////////////////////////////////////////////////////////////////*/
#test{
    position: absolute;
    width: 100%;
    height: 514px;
    background-color: black;
    opacity: 0.65;
}

#testimonial {
    background-image: url("http://coscosaeed.com/wp-content/uploads/2017/10/shutterstock_197539418.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.review-star {
    text-align: center;
    color: rgb(255, 214, 0);
    font-size: 30px;
    padding-top: 20px;
}
/* .client-pic {
    padding: 0em 2em;
    max-width: 360px;
    margin: 0 auto;
}
.client-pic img {
    border-radius: 50%;
} */

.review-desc {
    font-size: 24px;
    line-height: 1.8;
    font-weight: 100;
    font-style: italic;
    padding-top: 20px;
    color: rgb(89, 90, 148);
}
#testimonial .block-title {
    color: white;
}
#testimonial .block-title span {
    border-color: white;
}
p.client-name {
    float: right;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  11 - Subscribe Section
/////////////////////////////////////////////////////////////////////*/



#subscribe {
    background: url(../img/subs-bg.jpg);
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.susbcribe-text {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 30px;
}
.container.subscribe-wrap {
    max-width: 600px;
}
#exampleInputEmail1 {
    font-size: 20px;
    padding: 15px 30px;
    height: auto;
    border: 2px solid #01bc85;
    border-radius: 0px;
    box-shadow: none;
}
.btn-custom {
    width: 100%;
    padding: 5px 15px;
    font-size: 34px;
    margin-top: 0px;
    background: #01bc85;
    box-shadow: none;
    border: 2px solid #01bc85;
    margin-left: -16px;
    color: #fff;
}
.subscribe-wrap .form-group {
    margin-right: -16px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  12 - Contact us Section
/////////////////////////////////////////////////////////////////////*/


.address {
    width: 30%;
    float: left;
    background: url(../img/londonmap.jpg);
    height: 640px;
}
.mailbox {
    width: 70%;
    float: left;
    background-size: cover;
    background-image: url(../img/World-Map.jpg);
    background-color: #29166f;
    padding-bottom: 111px;
    height: 640px;
}
.address .container {
    max-width: 100%;
}
.mailbox .container {
    max-width: 90%;
}
.address-list {
    list-style: none;
    padding: 160px 0px 70px 0px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: table;
}
.address-list li {
    font-size: 19px;
    padding: 0.5em 0;
    color: #fff;
    font-weight: 100;
}
.address-list li i {
    display: table-cell;
    background-color: blue;
    line-height: 1.8;
    width: 81px;
    height: 70px;
    text-align: center;
    font-size: 45px;
    border-radius: 50%;
    margin: 0;
    vertical-align: middle;
}
.address-list li span {
    padding: 0px 0px 0px 20px;
    display: table-cell;
    vertical-align: middle;
}
.mailbox .container {
    margin-top: 225px;
    margin-bottom: 0px;
}
#contactForm input,#contactForm textarea {
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    border: 0;
}
#contactForm input:active, #contactForm textarea:active, #contactForm input:hover, #contactForm textarea:hover {
    border: 0;
}

#contactForm #name, #contactForm #email, #contactForm #phone, #contactForm #company{
    padding: 15px;
    height: auto;
}
#contactForm .form-group {
    margin-bottom: 25px;
}
#contactForm #message {
    height: 295px;
    padding-bottom: 40px;
}

.ceo{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.contact-submit {
    margin: 0 auto;
    margin-top: -38px;
    width: 160px;
    background: #fff;
    color: #00ceb8;
    border: 1px solid #00ceb8;
    font-size: 46px;
    padding: 0;
    margin: 0 auto;
    margin-top: -46px;
}
.contact-submit:hover {
    background: #29166f;
    color: #fff;
}
#contact {
    position: relative;
}
.contact-wrap {
    position: absolute;
    z-index: 9999;
    color: #fff;
    width: 100%;
    top: 50px;
}

#contact .block-title span {
    border-color: #fff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #6ecba9;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #6ecba9;
}


/* ///////////////////////////////////////////////////////////////////// 
//  13 - Footer Section
/////////////////////////////////////////////////////////////////////*/


#footer {
    background: #afc0d1;
    padding: 20px 0px 22px 0px;
}
.footer-logo {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}
.copyright {
    color: #fff;
    text-align: right;
    font-size: 18px;
    margin-top: 40px;
}
#footer span{
    color: #e9e9e9;
    display: block;
    margin-bottom: -24px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  14 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/


/*1340px - 1170px*/

@media all and (max-width: 1340px) and (min-width: 1170px) {
    .address-list li {
        font-size: 18px;
    }
    .address-list li i {
        width: 60px;
        height: 60px;
        font-size: 34px;

    }
}

/*1170px - 992px*/

@media all and (max-width: 1170px) and (min-width: 992px) {
    .address{
        width: 100%;
    }
    .mailbox{
        width: 100%;
    }
    .address-list {
    padding: 200px 0px 70px 0px;
    width: 100%;
    max-width: 100%;
    }
    .address {
    height: 340px;
    }
    .mailbox .container{
        margin-top: 100px;
        height: auto;
    }
    .address-list {
        padding: 200px 0px 70px 0px;
        width: 100%;
        max-width: 100%;
    }
    .address-list li {
        font-size: 16px;
        padding: 1em;
        display: inline-block;
    }
    .address-list li i {
        display: table-cell;
        line-height: 42px;
        width: 42px;
        height: 40px;
        font-size: 18px;
    }
}

/*1170px*/

@media all and (max-width: 1170px) {
    .address{
        width: 100%;
    }
    .mailbox{
        width: 100%;
    }
    .mailbox {
        padding-bottom: 111px;
        height: auto;
    }
    .mailbox .container {
        margin-top: 130px;
        margin-bottom: 0px;
    }
}

#inter-d{
    margin-top: 32px
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/*992px*/

@media all and (max-width: 992px) {
    .headings h1,.headings p{
        text-align: center;
    }
    .block-title {
        font-size: 2.8em;
    }
}

/*768px*/

@media all and (max-width: 768px) {
    #footer , .copyright{
        text-align: center;
    }
}


/*480px*/

@media all and (max-width: 480px) {
    .btn-custom {
        padding: 5px 0px;
    }
}